body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#chartsContainer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#barChart {
    width: 40%;
}

#containerOne rect {
    cursor: pointer;
}

.highlighted {
    stroke: black;
    stroke-width: 3px;
    filter: brightness(1.2) saturate(1.35) drop-shadow(0px 0px 5px rgba(110, 109, 109, 0.7));
}

#pieChart {
    width: 40%;
}

#containerTwo path {
    cursor: pointer;
}

#tooltip {
    position: fixed;
    background-color: white;
    padding: 5px;
    border: black solid 1px;
    border-radius: 5px;
    font-size: 15px;
    pointer-events: none; /* mouse clicks won't get intercepted by tooltip */
    opacity: 0;
}