body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.important {
    text-align: center;
}

#frame {
    display: flex;
    justify-content: center;
}

.highlighted {
    fill: rgb(247, 199, 26);
    stroke: black;
    stroke-width: 3px;
    filter: blur(3px);
}